.welcome {
  flex: 1;

  width: 100%;
  max-width: 400px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 8px 30px 8px;
  gap: 30px;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/*
  Whenever the .practice class state changes,
  play fade in animation
*/
.welcome:not(.practice) .tabContainer {
  animation: fadeIn 0.5s ease;
}
.welcome .tabContainer {
  animation: fadeIn2 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gameMode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  font-size: 24px;
}

.archiveDescription {
  display: flex;
  gap: 4px;
  align-items: center;
  line-height: 1;
}

.archiveSelect {
  font-size: 16px;
  padding: 0px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--white);
  border-radius: 4px;
}
