.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.modal {
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  padding: 24px;
  background-color: var(--gray-1);
  border: 1px solid var(--white);
  border-radius: 4px;
  z-index: 12;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 4px;
  animation: slideUp 0.25s ease;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(36px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: #0000007f;
  animation: fadeIn 0.25s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
