.kofi {
  text-align: center;
}

.seperator {
  margin: 4px 0px;
}

.footer {
  text-align: center;
  margin-bottom: 4px;
}

.overflow {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
}
