:root {
  --white: white;
  --black: rgb(24, 26, 27);
  --app-red: red;
  --app-green: green;
  --guess-black: rgb(24, 26, 27);
  --guess-gray: rgb(145, 145, 145);
  --guess-yellow: rgb(255, 204, 0);
  --guess-green: rgb(0, 204, 136);
  --guess-text-red: red;
  --app-width: min(100vw, var(--app-max-width));
  --app-max-width: 600px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: var(--black);
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-size: calc(var(--app-width) / 30);
}
#root {
  height: 100%;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
a {
  color: var(--white);
}
button {
  font-size: calc(var(--app-width) / 30);
  padding: calc(var(--app-width) / 75);
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-style: double;
  cursor: pointer;
}

/* Game */
.game {
  max-width: var(--app-max-width);
  height: 100%;
  margin: auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
}
.game.win {
  background: var(--app-green);
}
.game.lose {
  background-color: var(--app-red);
}

/* Header */
.header {
  padding: 4px;
  display: grid;
  grid-template-rows: auto auto;
}
.row-1 {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 0;
  text-align: center;
  font-size: calc(var(--app-width) / 18.5);
}
.spacer {
  width: calc(var(--app-width) / 18.5);
}
.help,
.fullscreen {
  cursor: pointer;
  width: calc(var(--app-width) / 18.5);
}
.row-2 {
  display: flex;
  justify-content: space-between;
}

/* Boards */
.boards {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: start;
  padding: 0 calc(var(--app-width) / 75) calc(var(--app-width) / 25)
    calc(var(--app-width) / 75);
  column-gap: calc(var(--app-width) / 75);
  row-gap: calc(var(--app-width) / 25);
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: calc(var(--app-width) / 600);
  padding: calc(var(--app-width) / 600);
  background: var(--white);
}
.board.complete {
  filter: contrast(0.5) brightness(0.5);
}

.cell {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--guess-black);
  font-size: calc(var(--app-width) / 25);
  line-height: 0.75;
  user-select: none;

  position: relative;
}
.cell.yellow {
  color: var(--black);
  background: var(--guess-yellow);
}
.cell.green {
  color: var(--black);
  background: var(--guess-green);
}
.cell.text-red {
  color: var(--guess-text-red);
}
.letter {
  position: absolute;
}

/* Keyboard */
.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  font-size: calc(var(--app-width) / 20);
  padding: 2px;
}
.keyboard.hidden {
  display: none;
}

.key {
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;

  cursor: pointer;
  user-select: none;
}
.key.enter-1 {
  border-bottom: none;
}
.key.enter-2 {
  border-right: none;
}
.key.enter-3 {
  border-top: none;
  border-left: none;
}

/* Result */
.result {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: calc(var(--app-width) / 75);
  padding: calc(var(--app-width) / 75);
  font-size: calc(var(--app-width) / 30);
}
.result.hidden {
  display: none;
}

.share {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: calc(var(--app-width) / 75);
}
.text {
  text-align: center;
  background-color: var(--black);
  color: white;
  border: 1px solid;
  font-size: calc(var(--app-width) / 50);

  margin: 0;
}
.text .emoji {
  width: calc(var(--app-width) / 50);
}
.words {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: calc(var(--app-width) / 75);
  text-align: center;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(20, 20, 20, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-wrapper.hidden {
  display: none;
}
.popup {
  background-color: var(--black);
  border: 1px solid white;

  width: min(calc(var(--app-max-width) * 0.75), 100vw);
  padding: calc(var(--app-width) / 20);

  display: flex;
  flex-direction: column;
  overflow: auto;
}
.separator {
  width: 100%;
}
.close {
  margin-top: calc(var(--app-width) / 30);
}
